*.log
*.swp
.cspellcache
.DS_Store
.env
.eslintcache
/.claude/
/.coverage
/.pytest_cache/
/.ruff_cache/
/.rumdl_cache/
/.venv/
/.venv/
/.vite/
/coverage
/coverage_report/
/cypress/screenshots
/dist
/node_modules
/template
__pycache__/
coverage.xml
cspell-words-missing.txt
db.sqlite
requirements.txt
