name: Check and Test Python Project

on:
  workflow_dispatch:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
          fetch-depth: 1 # latest only

      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: |
            pyproject.toml
            uv.lock

      - name: Python set up
        uses: actions/setup-python@v6
        with:
          python-version-file: '.python-version'

      - name: Run Ruff
        run: |
          uv run --frozen ruff format --check
          uv run --frozen ruff check --no-fix --output-format=github

      - name: Run pytest unittests
        run: |
          cp .env.example .env
          uv run --frozen pytest tests/  \
            --cov \
            --cov-report=term-missing \
            --cov-report=xml:coverage.xml

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: latest
          run_install: false

      - name: Setup Node
        uses: actions/setup-node@v5
        with:
          node-version: 24
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Run type check
        run: pnpm run types

      - name: Run code formatter
        run: pnpm run format

      - name: Run linter
        run: pnpm run lint

      - name: Run spell checker
        run: pnpm run spell

      - name: Run unit tests
        run: pnpm run test-cov

      # pre-commit as last step
      - uses: pre-commit/action@v3.0.1

      # for SonarQube coverage report
      # - uses: SonarSource/sonarqube-scan-action@v7
      #   env:
      #     SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
